#scene canvas {
  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

/* Responsive Styles */
@media (min-width: 640px) {
  #scene canvas {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  #scene canvas {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }
}

@media (min-width: 1280px) {
  #scene canvas {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }
}

Swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}
