@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "NotoSansThai";
  src: url("././assets/fonts/NotoSansThai.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url("././assets/fonts/Playfair.ttf") format("truetype");
}

@font-face {
  font-family: "Prompt";
  src: url("././assets/fonts/Prompt.ttf") format("truetype");
}
